.letraTitulo {
  font-size: 50px;
  font-family: "EB Garamond", serif;
}
.letraSubtitulo {
  font-size: 25px;
  font-family: "Pacifico", cursive;
  color: black;
}
.letraTexto {
  font-size: 20px;
  font-family: "Caveat", cursive;
  color: black;
}
.fondoImagen {
  background-image: url(bird.png);
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
  background-size: 10rem;
  padding: 25px;
}
li {
  list-style: none;
}
.git ::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(github.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 5px;
}
.face ::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(face.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 5px;
}
.aragon ::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(fes.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 5px;
}
body {
  background-color: red;
  font-family: sans-serif;
  padding: 5em;
}

.fondoBlanco {
  background-color: white;
}

.fondoAzul {
  background-color: aqua;
}

.fondoNegro {
  background-color: black;
}

.textoUno {
  text-align: center;
  font-size: 70px;
  color: darkgray;
}

.textoDos {
  font-size: 16px;
  color: whitesmoke;
  text-align: left;
}

.textoTres {
  font-size: 14px;
  text-align: center;
  color: whitesmoke;
}

.textoCuatro {
  font-size: 16px;
  text-align: left;
  color: whitesmoke;
  font-family: fuenteContenido;
}

.imagenEstilo {
  width: 300px;
  text-align: center;
}

table {
  border-collapse: collapse;
}

.bordeBlanco {
  border: 20px solid whitesmoke;
  border-radius: 20px;
}
